<!--
   
 -->
 <ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Add New Purchase </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Purchase No</label>
                        <input type="text" [(ngModel)]="purchase_no" class="form-control" placeholder="Purchase No" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label>Purchase Date</label>
                        <input type="date" [(ngModel)]="purchase_date" class="form-control" placeholder="Purchase Date" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Select Store</label>
                        <select name="select" [(ngModel)]="storeId" class="form-control" required>
                            <option value="" selected disabled>Select Store</option>
                            <option *ngFor="let item of stores" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Purchase Note</label>
                        <input type="text" [(ngModel)]="purchase_note" class="form-control" placeholder="Purchase Note">
                    </div>
                </div>
                <div class="form-group row" *ngIf="id != '' && productsDetails.length > 0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>Sl.No.</th>
                                    <th>Name</th>
                                    <th>Quantity </th>
                                    <th>Rate </th>
                                    <th *ngIf="is_locked == 0">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of productsDetails | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                                    <td>{{i+1}}</td>
                                    <td> {{item.name}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>$ {{item.rate}}</td>
                                    <td *ngIf="is_locked == 0">
                                        <a href="javascript:;" (click)="deleteItem(item.id)" class="btn btn-danger btn-round btn-outline-danger">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row" *ngIf="id != '' && is_locked == 0">
                    <div class="col-sm-3">
                        <label>Select Product</label>
                        <select name="select" [(ngModel)]="productId" class="form-control select2" required>
                            <option *ngFor="let item of products" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Quantity</label>
                        <input type="text" [(ngModel)]="quantity" class="form-control" placeholder="Quantity">
                    </div>
                    <div class="col-sm-3">
                        <label>Rate</label>
                        <input type="number" step="0.01" [(ngModel)]="rate" class="form-control" placeholder="Rate">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-danger btn-round" (click)="saveItem()">Save Item</button>
                    </div>
                </div>
                <div class="form-group row" *ngIf="id == ''">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="create()">Add purchase</button>
                    </div>
                </div>
                <div class="form-group row" *ngIf="productsDetails.length > 0 && is_locked == 0">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="lockStock()">Lock Stock</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>