<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Get Stats </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Please select store</label>
                        <select name="select" [(ngModel)]="storeId" class="form-control">
                            <option *ngFor="let item of stores" [value]="item.uid">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>From Date </label>
                        <input type="date" [(ngModel)]="from" class="form-control" placeholder="Expire Date">
                    </div>
                    <div class="col-sm-6">
                        <label>To Date </label>
                        <input type="date" [(ngModel)]="to" class="form-control" placeholder="Expire Date">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="getStats()">Get Stats</button>
                        <button style="margin-left: 20px;" [useExistingCss]="true" [printTitle]="storename"
                            printSectionId="print-section" ngxPrint *ngIf="storeId && from && to && storeOrder?.length"
                            class="btn btn-primary"><i class="icofont icofont-printer"></i>Print</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<h2 style="text-align: center;" *ngIf="storeId && from && to && !storeOrder?.length && apiCalled">
    No Orders Found
</h2>
<div class="row" id="print-section" *ngIf="storeId && from && to && storeOrder?.length">
    <div class="col-md-12">
        <div class="card" style="padding: 20px;">
            <h3 style="text-align: center;color: #7ec6aa;">Groceryee Full App </h3>
            <p style="text-align: center;color: #ED7669;">{{getDate(from)}} to {{getDate(to)}}</p>
            <p style="text-align: right;font-weight: bold;margin: 0px !important;color: #7EC6AA;">Groceryee Full App</p>
            <p style="text-align: right;font-weight: bold;margin: 0px !important;">Havamahel Palace Road Palitana, <br>
                Bhavnagar
                364270</p>
            <p style="text-align: right;font-weight: bold;margin: 0px !important;">info@groceryee.com</p>
            <p style="text-align: right;font-weight: bold;margin: 0px !important;">9426585554</p>
            <p style="text-align: left; font-weight: bold;margin: 0px;color: #aaafad;">{{storename}}</p>
            <p style="text-align: left; font-weight: bold;color: #7EC6AA;">{{today()}}</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-uppercase" style="color:#7ec6aa ;">
                            <th>Id</th>
                            <th>Ordered on</th>
                            <th>Items</th>
                            <th>Total</th>
                            <th>Discount</th>
                            <th>Grand Total</th>
                            <th>Commission</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of storeOrder" style="background-color: #F5F8FA;">
                            <td>##{{item.id}}</td>
                            <td>{{item.date_time}}</td>
                            <td>
                                <div style="width: 150px !important; white-space: pre-wrap;">
                                    <span *ngFor="let orders of item.orders;let i =index;">
                                        {{orders.name}} <span *ngIf="item.orders.length -1 !== i">,</span>
                                    </span>
                                </div>
                            </td>
                            <td>{{getCurrency()}}{{item.total}}</td>
                            <td>{{getCurrency()}} {{item.discount}} </td>
                            <td>{{getCurrency()}}{{item.grand_total}}</td>
                            <td>{{getCurrency()}}{{getCommisions(item.total)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="padding: 20px;">
                <div class="col-sm-6"></div>
                <div class="col-sm-4">
                    <p style="text-align: right;font-weight: bold;margin: 0px !important;color: #7EC6AA;;">
                        Total</p>
                    <p style="text-align: right;font-weight: bold;margin: 0px !important;color: #7EC6AA;;">
                        Commission
                    </p>
                    <p style="text-align: right;font-weight: bold;margin: 0px !important;color: #7EC6AA;;">
                        Amount Pay
                    </p>
                </div>
                <div class="col-sm-2">
                    <p style="color: black !important;margin: 0px !important;text-align: right;">{{getCurrency()}}
                        {{totalAmount}}
                    </p>
                    <p style="color: black !important; margin: 0px !important;text-align: right;">{{getCurrency()}}
                        {{commisionAmount}}
                    </p>
                    <p style="color: black !important;margin: 0px !important;text-align: right;">{{getCurrency()}}
                        {{toPay}}</p>
                </div>
            </div>
            <div>
                <p><span style="font-weight: bold;">Note : </span> Commission formula.. ((total) * storecommission) /
                    100)</p>
            </div>
        </div>
    </div>
</div>

<ng2-toasty></ng2-toasty>