<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">Log in...</p>
</ngx-spinner>
<section class="login p-fixed d-flex text-center bg-light ">
    <div class="auth-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-body auth-body">
                    <form class="md-float-material">
                        <div class="text-center">
                            <img src="assets/images/auth/big.png" style="width:150px;height:50px" alt="logo.png">
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left txt-primary">Welcome to Setup Wizard</h3>
                                    <p class="text-left txt-primary">Create Admin Profile</p>
                                </div>
                            </div>
                            <hr />
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="First name"
                                    [(ngModel)]="first_name" [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="last_name"
                                    [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>

                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Your Email Address"
                                    [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>

                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Password"
                                    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>

                            <div class="input-group">
                                <div class="row">
                                    <div class="col-3">
                                        <select name="select" class="form-control" [(ngModel)]="mobileCcode">
                                            <option *ngFor="let item of util.countrys;" [value]="item.dialling_code">
                                                {{item.country_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-9">
                                        <input type="number" class="form-control"
                                            [placeholder]="api.translate('Mobile Number')" [(ngModel)]="mobile"
                                            [ngModelOptions]="{standalone: true}">
                                        <span class="md-line"></span>
                                    </div>
                                </div>
                                <!-- <input type="number" class="form-control" placeholder="Mobile number"
                                    [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span> -->
                            </div>

                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" (click)="login()"
                                        class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">Sign In
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<ng2-toasty></ng2-toasty>