/*
  
*/

.orders{
    height: 60vh;
    overflow: scroll;
    .card_div{
        width: 100%;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;
        border: 0.5px solid lightgray;
        p{
            margin: 0px;
        }
        .line_div{
            height: 1px;
            width: 100%;
            background: lightgray;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .resto_detail{
            display: flex;
            flex-direction: row;
            align-items: center;

            .back_image{
                height: 50px;
                width: 50px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 5px;
                min-width: 50px;
            }

            .res_name{
                font-weight: 600;
            }
            .res_location{
                color: lightgray;
                font-size: 14px;
            }
        }

        .order_detail{
            .head_gray{
                color: lightgray;
                font-size: 13px;
                // margin-top: 10px;
            }
            .small_lbl{
                font-size: 12px;
                font-weight: 600;
            }
            .border_bottom{
                border-bottom: 1px dashed lightgray;
                padding: 5px 0px;
                font-size: 15px;
                font-weight: bold;
            }
            .subNames{
                border-bottom: 1px dashed lightgray;
                padding-bottom: 5px;
                .food_title{
                    font-size: 15px;
                    font-weight: bold;
                }
                .flex_titles{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .sub_name{
                        margin: 0px;
                        color: black;
                        font-size: 12px;
                    }
                }
            }
        }
        .status_detail{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: lightgray;
            font-size: 14px;
        }
    }
}