<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Manage Sub Category </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Select Category</label>
                        <select name="select" [(ngModel)]="cateId" class="form-control">
                            <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Sub category name</label>
                        <input type="text" [(ngModel)]="name" class="form-control" placeholder="Sub category name">
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label">{{api.translate('Upload cover image here')}} </label>
                    <div class="col-sm-4">
                        <input (change)="preview_banner($event.target.files)" type="file" class="form-control"
                            accept="image/*">
                    </div>
                    <div class="col-sm-4">
                        <img [src]="coverImage" alt="" style="height: 100px;width: 100px;float: right;"
                            onError="this.src='assets/icon.png'">
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" *ngIf="!edit" (click)="create()">Add sub
                            category</button>
                        <button class="btn btn-danger btn-round" *ngIf="edit" (click)="update()">Update sub
                            category</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>