<!--
   
 -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Send Notification </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="title" placeholder="Notification Title" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea rows="5" cols="5" [(ngModel)]="descriptions" class="form-control"
                            placeholder="Description (short description)"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-danger btn-round" (click)="send()">Send Message</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>