<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Manage app</h5>
            </div>
            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Status</label>
                        <select name="select" [(ngModel)]="status" class="form-control">
                            <option value="1">Open</option>
                            <option value="0">Close</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Message</label>
                        <textarea rows="5" cols="5" [(ngModel)]="name" class="form-control"
                            placeholder="Message"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="submit()">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>