/*
  
*/
 .back_image{
      height: 100px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin: 10px;
 }