<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Manage app</h5>
            </div>
            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label style="font-weight:bold">Name</label> <br>
                        <label> {{name}} </label>
                        <hr>
                        <label style="font-weight:bold">Email</label> <br>
                        <label> {{email}} </label>
                        <hr>
                        <label style="font-weight:bold">Message</label> <br>
                        <label> {{message}} </label>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Replay</label>
                        <ckeditor [(ngModel)]="reply" [readonly]="false" debounce="500">
                        </ckeditor>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="submit()">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>