<!--
   
 -->
 <ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>All Products</h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Select Store</label>
                    <div class="col-sm-6">
                        <select name="select" [(ngModel)]="storeId"  (change)="onChangeStore($event.target.value)" class="form-control" required>
                            <option value="" selected disabled>Select Store</option>
                            <option *ngFor="let item of stores" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <!-- <div class="col-sm-4">
                        <button style="float: right;" type="button" (click)="createNew()"
                            class="btn btn-danger btn-round">CREATE
                            NEW</button>
                    </div> -->
                </div>
                <div class="form-group row" *ngIf="products.length > 0">
                    <label class="col-sm-2 col-form-label">Search</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-round" placeholder="Search purchase by Purchase no."
                            (input)="search($event.target.value)">
                    </div>
                    <!-- <div class="col-sm-4">
                        <button style="float: right;" type="button" (click)="createNew()"
                            class="btn btn-danger btn-round">CREATE
                            NEW</button>
                    </div> -->
                </div>
                <div class="table-responsive" *ngIf="products.length > 0">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Current Stock </th>
                                <th>Mode </th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of products | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                                <td>{{item.id}}</td>
                               <td>{{item.name}}</td>
                                <td>{{item.current_stock}}</td>
                                <td>
                                    <select name="select" [(ngModel)]="modeInOut[i]" class="form-control" required>
                                        <option value="in">Stock In</option>
                                        <option *ngIf="item.current_stock != 0.00" value="out">Stock Out</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-round" [(ngModel)]="stockQty[i]"  placeholder="Stock Qty.">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-round btn-outline-success" (click)="updateStock(item.id, i)">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="has-text-centered">
                    <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-toasty></ng2-toasty>