/*
  
*/
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    .flagActive{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid red;
        margin: 0px 10px;
    }
    .flagDeactive{
        height: 45px;
        width: 45px;
        margin: 0px 10px;
        opacity: .5;
    }
}   