<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Log in...')}} </p>
</ngx-spinner>
<section class="login p-fixed d-flex text-center bg-light ">
    <div class="auth-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-body auth-body">
                    <form class="md-float-material">
                        <div class="text-center">
                            <img src="assets/images/auth/big.png" style="width:150px;height:50px" alt="logo.png">
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left txt-primary">{{api.translate('Sign In')}} </h3>
                                </div>
                            </div>
                            <hr />
                            <div class="input-group">
                                <input type="email" class="form-control"
                                    [placeholder]="api.translate('Your Email Address')" [(ngModel)]="email"
                                    [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" [placeholder]="api.translate('Password')"
                                    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" (click)="login()"
                                        class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                                        {{api.translate("Sign In")}}
                                    </button>
                                </div>
                                <div class="btns">
                                    <img [src]="api.mediaURL+item.cover" (click)="changeLng(item)"
                                        *ngFor="let item of util.languages"
                                        [ngClass]="selected == item.file ? 'flagActive':'flagDeactive'" alt="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<ng2-toasty></ng2-toasty>