<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Add Banner </h5>
            </div>
            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Positions</label>
                        <select name="select" [(ngModel)]="position" class="form-control">
                            <option value="0">Top</option>
                            <option value="1">Bottom</option>
                            <option value="2">Between</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Positions</label>
                        <select name="select" [(ngModel)]="type" class="form-control" (change)="changeType()">
                            <option value="0">Category</option>
                            <option value="1">Product</option>
                            <option value="2">External Link</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" *ngIf="type ==='0'">
                    <div class="col-sm-12">
                        <label>Search category</label>
                        <input type="text" [(ngModel)]="search" (input)="searchCate($event.target.value)"
                            class="form-control" placeholder="Search category">
                        <div *ngFor="let item of cate" (click)="selectCate(item)">
                            <div class="selectItem">
                                <img [src]="api.mediaURL+item.cover" alt="" class="imgs">
                                <p class="name">{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="type ==='1'">
                    <div class="col-sm-12">
                        <label>Search product</label>
                        <input type="text" [(ngModel)]="search" (input)="searchProduct($event.target.value)"
                            class="form-control" placeholder="Search product">
                        <div *ngFor="let item of products" (click)="selectProduct(item)">
                            <div class="selectItem">
                                <img [src]="api.mediaURL+item.cover" alt="" class="imgs">
                                <p class="name">{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="type ==='2'">
                    <div class="col-sm-12">
                        <label>External Link</label>
                        <input type="text" [(ngModel)]="link" class="form-control" placeholder="External Link">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Message</label>
                        <input type="text" [(ngModel)]="message" class="form-control" placeholder="Message">
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label">{{api.translate('Upload cover image here')}} </label>
                    <div class="col-sm-4">
                        <input (change)="preview_banner($event.target.files)" type="file" class="form-control"
                            accept="image/*">
                    </div>
                    <div class="col-sm-4">
                        <img [src]="api.mediaURL+ coverImage" alt="" style="height: 100px;width: 100px;float: right;"
                            onError="this.src='assets/icon.png'">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" *ngIf="!edit" (click)="create()">Add Banner</button>
                        <button class="btn btn-danger btn-round" *ngIf="edit" (click)="update()">Update
                            Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>