<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5> <span *ngIf="new">CREATE NEW</span> <span *ngIf="!new">Edit</span> Administrators </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <h4 class="sub-title">Owner Details</h4>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>First Name</label>
                        <input type="text" [(ngModel)]="fname" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-sm-6">
                        <label>Last Name</label>
                        <input type="text" [(ngModel)]="lname" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="col-sm-6">
                        <label>Email</label>
                        <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-sm-6" *ngIf="new">
                        <label>Password</label>
                        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-sm-6" *ngIf="new">
                        <label>Contact No</label>
                        <span class="md-line"></span>
                        <div class="row">
                            <div class="col-3">
                                <select name="select" class="form-control" [(ngModel)]="mobileCcode">
                                    <option *ngFor="let item of util.countrys;" [value]="item.dialling_code">
                                        {{item.country_name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-9">
                                <input type="number" class="form-control" [placeholder]="api.translate('Mobile Number')"
                                    [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}">
                                <span class="md-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label>Select Gender</label>
                        <select name="select" [(ngModel)]="gender" class="form-control">
                            <option value='1'>Male</option>
                            <option value='0'>Female</option>
                            <option value='2'>Other</option>
                        </select>
                    </div>


                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="create()" *ngIf="new">Add New Admin
                        </button>
                        <button class="btn btn-danger btn-round" (click)="update()" *ngIf="!new">
                            Update Admin </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>