<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Manage Languages </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Category name</label>
                        <input type="text" [(ngModel)]="name" class="form-control" placeholder="Category name">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Positions</label>
                        <select name="select" [(ngModel)]="position" class="form-control">
                            <option value="1">Left to Right</option>
                            <option value="0">Right to Left</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label">{{api.translate('Upload cover image here')}} </label>
                    <div class="col-sm-4">
                        <input (change)="preview_banner($event.target.files)" type="file" class="form-control"
                            accept="image/*">
                    </div>
                    <div class="col-sm-4">
                        <img [src]="coverImage" alt="" style="height: 100px;width: 100px;float: right;"
                            onError="this.src='assets/icon.png'">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Upload Language File</label>
                    <div class="col-sm-4">
                        <input (change)="preview_banner2($event.target.files)" type="file" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" *ngIf="!edit" (click)="create()">Add Category</button>
                        <button class="btn btn-danger btn-round" *ngIf="edit" (click)="update()">Update
                            Category</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>