<!--
   
 -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>All Order</h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Search</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-round" placeholder="Search Order By ID"
                            (input)="search($event.target.value)">
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>ID</th>
                                <th>User</th>
                                <th>User Name</th>
                                <th>Stores</th>
                                <th>Ordered on</th>
                                <th>Total</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy">
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of orders | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                                <td>{{item.id}}</td>
                                <td><a href="javascript:;"><img class="img-responsive"
                                            style="height: 40px;border-radius: 50%;" [src]="api.mediaURL+item.cover"
                                            onError="this.src='assets/images/user.png'" alt="chat-user"></a>
                                </td>
                                <td> {{item.first_name}} {{item.last_name}} </td>
                                <td> from {{item.store_id.length }} stores </td>

                                <td>{{getDates(item.date_time)}}</td>
                                <td>
                                    $
                                    {{item.grand_total}}
                                </td>
                                <td>{{item.orders.length}}</td>
                                <td><button type="button" (click)="openOrder(item)"
                                        class="btn btn-success btn-round btn-outline-success">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="has-text-centered">
                    <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>