<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Manage app pages</h5>
            </div>
            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="name" class="form-control" placeholder="Subject">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Content</label>
                        <ckeditor [(ngModel)]="content" [readonly]="false" (change)="onChange($event)"
                            (editorChange)="onEditorChange($event)" debounce="500">
                        </ckeditor>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="submit()">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>