/*
  
*/
.card-block {
    padding: 1.25rem;
}

 .titles{
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
ion-label {
    display: block;
}

    .desc_div{
    width: 100%;
    .border_bottom{
        padding-bottom: 10px;
        width: 100%;
        .storeName{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            padding-bottom: 10px;
            .name{
                font-weight: bold;
            }
            .status{
                font-weight: bold;
            }
        }
        .items{
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
            font-weight: bold;
            padding-bottom: 5px;
            border-bottom: .5px dashed lightgray;
            margin-bottom: 10px;
        }
        .itemss{
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    
    
}

.flex_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 40px;
    font-size: 12px;
    padding-bottom: 10px;
    .values{
        font-weight: bold;
        text-transform: capitalize;
    }
}

.hr_line_div{
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background: lightgray;
}

.tracking_div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    // background: #FAFAFA;

    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        .line_div{
            height: 40px;
            width: 1px;
            border: 1px solid #E8E8E8;
        }

        .line_div_darkgray{
            height: 40px;
            width: 1px;
            border: 1px solid #C8C7CE;
        }

        .round_div_gray{
            height: 20px;
            width: 20px;
            background-color: #E8E8E8;
            border-radius: 50%;
            margin-left: -9px;
        }
        .round_div_darkgray{
            height: 20px;
            width: 20px;
            background-color: #C8C7CE;
            border-radius: 50%;
            margin-left: -9px;
        }
        .round_div_red{
            height: 20px;
            width: 20px;
            background-color:rgb(81, 81, 242);
            border-radius: 50%;
            margin-left: -9px;
        }

        ion-icon{
            font-size: 20px;
            margin-left: -7px;
            color: rgb(81, 81, 242);
            background: #f4f5f8;
            border-radius: 50%;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;

        .line_div{
            height: 45px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            // border: 1px solid;
        }
        .round_div_gray{
            height: 20px;
            width: 100%px;
            color: #C8C7CE;
        }
        .round_div_red{
            height: 20px;
            width: 100%px;
            color:rgb(81, 81, 242);
        }
        .round_div_darkgray{
            height: 20px;
            width: 100%;
            // color: #C8C7CE;
            color: gray;
        }
    }
}