<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5> {{name}} </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row" *ngIf="id === '1'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Sandbox</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Test Key </label>
                        <input type="text" [(ngModel)]="stripe.test" class="form-control" placeholder="Test Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Live Keys </label>
                        <input type="text" [(ngModel)]="stripe.live" class="form-control" placeholder="Live Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="stripe.code" class="form-control" placeholder="USD">
                    </div>
                </div>

                <div class="form-group row" *ngIf="id === '3'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Sandbox</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Test Key </label>
                        <input type="text" [(ngModel)]="paypal.test" class="form-control"
                            placeholder="Client ID Sandbox">
                    </div>
                    <div class="col-sm-6">
                        <label> Live Keys </label>
                        <input type="text" [(ngModel)]="paypal.live" class="form-control"
                            placeholder="Client ID Production">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="paypal.code" class="form-control" placeholder="USD">
                    </div>
                </div>

                <div class="form-group row" *ngIf="id === '4'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Sandbox</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Test Key </label>
                        <input type="text" [(ngModel)]="razorPay.test" class="form-control"
                            placeholder="Client ID Sandbox">
                    </div>
                    <div class="col-sm-6">
                        <label> Live Keys </label>
                        <input type="text" [(ngModel)]="razorPay.live" class="form-control"
                            placeholder="Client ID Production">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="razorPay.code" class="form-control" placeholder="USD">
                    </div>
                </div>

                <div class="form-group row" *ngIf="id === '5'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Test</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Merchant ID </label>
                        <input type="text" [(ngModel)]="payTm.id" class="form-control" placeholder="Merchant ID">
                    </div>
                    <div class="col-sm-6">
                        <label> Merchant Key </label>
                        <input type="text" [(ngModel)]="payTm.key" class="form-control" placeholder="Merchant Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="payTm.code" class="form-control" placeholder="USD">
                    </div>
                </div>

                <div class="form-group row" *ngIf="id === '6'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Test</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Private API Key </label>
                        <input type="text" [(ngModel)]="instamojo.key" class="form-control"
                            placeholder="Private API Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Private Auth Token </label>
                        <input type="text" [(ngModel)]="instamojo.token" class="form-control"
                            placeholder="Private Auth Token">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="instamojo.code" class="form-control" placeholder="USD">
                    </div>
                </div>

                <div class="form-group row" *ngIf="id === '7'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Test</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Secret Key </label>
                        <input type="text" [(ngModel)]="paystack.sk" class="form-control" placeholder="Secret Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Public Key </label>
                        <input type="text" [(ngModel)]="paystack.pk" class="form-control" placeholder="Public Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="paystack.code" class="form-control" placeholder="NGN">
                    </div>
                </div>

                <div class="form-group row" *ngIf="id === '8'">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="env" class="form-control">
                            <option value="1">Production</option>
                            <option value="0">Test</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label> Public Key </label>
                        <input type="text" [(ngModel)]="flutterwave.pk" class="form-control" placeholder="Public Key">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="flutterwave.code" class="form-control" placeholder="NGN">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger btn-round" (click)="update()">Update</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng2-toasty></ng2-toasty>