<!--
   
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-sm-12">

    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5> {{api.translate('Pages')}} </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>{{api.translate('Id')}} </th>
                                <th>{{api.translate('Name')}} </th>
                                <th>{{api.translate('Status')}} </th>
                                <th>{{api.translate('Actions')}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy  ">
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage:10, currentPage: page };let i = index;">

                                <td>
                                    <label style="font-weight: bold;">
                                        {{item.id}}
                                    </label>
                                </td>
                                <td>
                                    {{item.name}}
                                </td>

                                <td><button type="button" (click)="open(item)"
                                        class="btn btn-success btn-round btn-outline-success">{{item.status === '1' ?
                                        'Active':'Deactive'}}</button>
                                </td>
                                <td><button type="button" (click)="view(item)"
                                        class="btn btn-success btn-round btn-outline-success">{{api.translate('View')}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="has-text-centered">
                    <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>